<div class="table__wrapper">
  <table class="table is-bordered is-striped is-hoverable is-fullwidth has-mt-24">
    <thead class="has-bg-peach-pop-40">
      <tr>
        <th>Type</th>
        <th><abbr title="Total">Email</abbr></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr onclick="window.location='<%= admin_customers_client_path(user) %>'">
          <th><%= user&.spree_roles&.first&.name || user.client_type %> </th>
          <th><%= user.email %></th>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= paginate @users %>