@import "./colors";

@import "bulma/bulma";
@import "navbar";
@import "sidebar";
@import "tables";
@import "modals";

@import "./font";
@import "./typography";
@import "./utils";
@import "./basics";

@import "bulma-block-list/src/block-list";
.sortable-ghost {
  background: map-get($management, "tangerine-pop-30") !important;
}

.has-shadow {
  box-shadow: 0 1px 16px rgba(51, 51, 51, 0.11);
}

.is-flex-align-center {
  align-items: center;
}

.responsive_icon {
  font-size: 4rem;
  @include touch {
    font-size: 1.5rem;
  }
}

.is-mob-centered {
  @include touch {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.sortable-chosen {
  background: map-get($management, "tangerine-pop-60") !important;
}

.box.is-hoverable:hover {
  background-color: map-get($management, "tangerine-pop-30");
}

li.is-hoverable:hover {
  background-color: map-get($management, "tangerine-pop-30");
}

#delete-button {
  span {
    color: red !important;
    transition-property: color;
    transition-duration: .5s;
    transition-timing-function: ease;
  }
}

#delete-button:hover {
  span {
    color: green !important;
    transition-property: color;
    transition-duration: .5s;
    transition-timing-function: ease;
  }
}
.pagination-list {
  list-style: none !important;
  flex-grow: 1;
  flex-shrink: 1;
  justify-content: flex-start;
  order: 1;
}

.content li + li {
  margin-top: 0px;
}

.page_current {
  background-color: #2982f5;
  border-color: transparent;
  color: #fff;

  border-radius: 290486px;
  padding-left: calc(1em + 0.25em);
  padding-right: calc(1em + 0.25em);

  border-color: #dbdbdb;
  border-width: 1px;
  cursor: pointer;
  justify-content: center;
  padding-bottom: calc(0.5em - 1px);
  padding-left: 1em;
  padding-right: 1em;
  padding-top: calc(0.5em - 1px);
  text-align: center;
  white-space: nowrap;
}

.hide {
  display: none;
}

#search_box {
  overflow-y: initial;
  max-height: 550px; /* approximate max height */

  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: ease;

}

#search_box.closed {
  overflow-y: hidden;
  max-height: 0;
}

.is-flex {
  display: flex;
}

.is-flex-centered {
  justify-content: center;
  align-items: center;
}

.is-flex-col {
  flex-direction: column;
}

.is-full-height {
  height: 100vh;
}

.notification {
  border-radius: 0px;
}

.sticky {
  position: sticky;
  top: 30px;
}

.hide-mob {
  @include mobile {
    display: none;
  }
}

.file-label input {
  background-color: white;
  border-color: #dbdbdb;
  border-width: 1px;
  color: #363636;
  cursor: pointer;
  justify-content: center;
  padding-bottom: calc(0.5em - 1px);
  padding-left: 1em;
  padding-right: 1em;
  padding-top: calc(0.5em - 1px);
  text-align: center;
  white-space: nowrap;
}

.notification {
  border-top: 1px solid beige;
}

ul.search-results {
  border-radius: 5px;
  border: 1px solid black;
  margin-left: 0px !important;

  li {
    padding: 1rem;
    list-style: none;
  }

  li:hover {
    background-color: map-get($management, 'sp-green-30');
  }
}

.unstyled-list {
  list-style-type:none;
}

.old-order-box {
  background-color: map-get($management, 'tangerine-40');
  border-radius: 10px;
  padding: 10px;
}

.old-order-box:hover {
  background-color: map-get($management, 'tangerine-50');
}

.new-search-results{
  border: 1px solid black;
  overflow: auto;
  max-height: 400px;
  list-style: none !important;
  margin-left: none !important;
  margin-top: none !important; 
}
